<div class="pagination">
        {% if currentPage > 1 %}       
                <a class="" href="{{ path(path, { page: currentPage -1 }) }}">&lt;</a>
        {% else %}
                <a class="desactivated">&lt;</a>
        {% endif %}

        {% for page in 1..pages %}    
                <a class="{{ (page == currentPage) ? 'activePage' : ''}}" href="{{ path(path, { page: page}) }}">{{ page }}</a>
        {% endfor %}
        
        {% if currentPage < pages %}
                <a class="" href="{{ path(path, { page: currentPage  + 1 }) }}">&gt;</a>
        {% else %}
                <a class="desactivated">&gt;</a>
        {% endif %}
</div>
