{% extends 'base-membre.html.twig' %}

{% block title %}FixedFee{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('app_calcul_index') }}">Calcul de rentabilité</a></li>
        <li><a href="{{ path('app_fixed_fee_index') }}">Frais fixes</a></li>
        <li>{{ fixed_fee.title }}</li>
    </ul>
    <div class="back">
        <div class="back-to-list">
            <a href="{{ path('app_fixed_fee_index') }}">Retour à la liste</a>
        </div>
    </div>
    <div class="calcul-data">
        <table class="show-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ fixed_fee.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ fixed_fee.title }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ fixed_fee.price }}</td>
                </tr>
                <tr>
                    <th>Unité</th>
                    <td>{{ fixed_fee.unit }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bottom-btn">
        <div>
            <a href="{{ path('app_fixed_fee_edit', {'id': fixed_fee.id}) }}" class="btn">Editer</a>
        </div>
            {{ include('fixed_fee/_delete_form.html.twig') }}
    </div>

    
{% endblock %}
