<div class="form-wizard">
    {% if not form.checkedFixedFees.vars.valid %}
        <div class="cout">
            {{  form_errors(form.checkedFixedFees) }}
        </div>
    {% endif %}

    {% if form.checkedFixedFees|default is empty %}
    {% else %}
        <div class="search-input">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Rechercher un frais fixe.."
                       id="search-fixed" onkeyup="searchFees('search-fixed', 'table-fixed')">
            </div>
        </div>
        <div class="table-scroll">
            <table class="table-fees" id="table-fixed">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for child in form.checkedFixedFees.vars.choices %}

                    <tr id="fee_{{child.data.getId()}}">
                        <td>{{ child.data.getTitle() }}</td>
                        <td>{{ child.data.getPrice() }}</td>
                        <td id="{{ 'quantity_' ~ child.data.getId() }}" class="quantity">
                            <input id="calcul_fixedFeeCalculsQuantity" name="calcul_checkedFixedFees" type="hidden"/>
                        <td>
                            {% if app.request.attributes.get('_route') == "app_calcul_edit" %}
                                <a title="Supprimer ce frais" class="delete-link" onClick="deleteThisLink('#fee_{{child.data.getId}}')"><i class="fa-regular fa-trash-can trash"></i></a>
                                <div style="display: none">
                                    {{ form_widget(form.checkedFixedFees[child.data.getId()], {'attr': {'onInput': 'this.className = ""', 'checked':'checked' }})}}
                                </div>
                            {% else %}

                                <label class="switch">
                                    {{ form_widget(form.checkedFixedFees[child.data.getId()], {'attr': {'onInput': 'this.className = ""', 'onClick': 'addQuantity(this.id)' }})}}
                                    <span class="slider round"></span>
                                </label>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

<div class="fixed" data-prototype="{{ _self.fixed_prototype(form.fixedFeeCalculs.vars.prototype)|e }}"
        data-index="{{ form.fixedFeeCalculs|length > 0 ? form.fixedFeeCalculs|last.vars.name + 1 : 0 }}">
    <div class="calcul-new">
        <a class="add_item_fixed" data-collection-holder-class="fixed" title="Nouveau frais"><i class="fa-solid fa-plus new"></i></a>
    </div>
    {% for fixedFeeCalcul in form.fixedFeeCalculs %}
        {{ _self.fixed_prototype(fixedFeeCalcul) }}
    {% endfor %}

    {% macro fixed_prototype(fixedFeeCalcul) %}
        <div class="prototype">
            <div>
                {{ form_label(fixedFeeCalcul.fixedFee.title) }}
                <div class="">{{ form_widget(fixedFeeCalcul.fixedFee.title, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not fixedFeeCalcul.fixedFee.title.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(fixedFeeCalcul.fixedFee.title) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(fixedFeeCalcul.fixedFee.price) }}
                <div class="price">{{ form_widget(fixedFeeCalcul.fixedFee.price, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not fixedFeeCalcul.fixedFee.price.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(fixedFeeCalcul.fixedFee.price) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(fixedFeeCalcul.quantity) }}
                <div class="unit">{{ form_widget(fixedFeeCalcul.quantity, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not fixedFeeCalcul.quantity.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(fixedFeeCalcul.quantity) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endmacro %}
</div>
<script>
    const addQuantity = (chechboxId) => {
        let inputId = chechboxId.slice(24);
        let checkBox = document.getElementById(chechboxId);
        let td = document.querySelector('#quantity_' + inputId)
        if (checkBox.checked === true){
            let input = document.createElement('input');

            input.id = "calcul_fixedFeeCalculsQuantity_"+ inputId + "_quantity"
            input.type= "number";
            input.value = "1";
            input.classList.add("quantity-input");
            input.name = "calcul[fixedFeeCalculsQuantity][" + inputId + "][quantity]";

            td.appendChild(input);
        } else {
            let inputToDelete = document.querySelector("#calcul_fixedFeeCalculsQuantity_" + inputId + "_quantity");
            inputToDelete.remove();
        }
    }
</script>