<div class="form-container">
    {{ form_start(form, {'attr': {'id': 'regForm', 'class': 'regForm'}})}} 
    {{ form_row(form._token) }}
    <div class="tab">
        <div>
            {{ form_label(form.title) }}
            <div class="">{{ form_widget(form.title, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>
            
            {% if not form.title.vars.valid %}
                <div class="error-message">
                    {{ form_errors(form.title) }}
                </div>
            {% endif %}
            
        </div>
        <div>
            {{ form_label(form.devis) }}
            <div class="">{{ form_widget(form.devis, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>
            {% if not form.devis.vars.valid %}
                <div class="error-message">
                    {{ form_errors(form.devis) }}
                </div>
            {% endif %}
        </div>        
        <div>
            {{ form_label(form.durationMonth) }}
            <div class="">{{ form_widget(form.durationMonth, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>
            {% if not form.durationMonth.vars.valid %}
                <div class="error-message">
                    {{ form_errors(form.durationMonth) }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="tab">
        <h3 class="fixedFees">Ajouter des frais fixes</h3>
        
        {{ include('calcul/_form_fixed_fees.html.twig') }}
    </div>
    <div class="tab">
        <h3 class="fixedFees">Ajouter des frais variables</h3>
        
    {{ include('calcul/_form_variable_fees.html.twig') }}
    </div> 
    <div class="tab">
        <h3 class="fixedFees">Ajouter des salariés</h3>
    
    {{ include('calcul/_form_salaries.html.twig') }}
    
    </div>

    <div class="next-prev-section">
        <div>
            <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa-solid fa-angles-left"></i> Précédent</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Suivant <i class="fa-solid fa-angles-right"></i></button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>     
</div>

{{ form_end(form, {'render_rest': false})}}