<div class="form-wizard">
    {% if not form.checkedVariableFees.vars.valid %}
        <div class="error-message">
            {{  form_errors(form.checkedVariableFees) }}
        </div>
    {% endif %}
    <input id="calcul_checkedVariableFees" name="calcul_checkedVariableFees" type="hidden"/>

    {% if form.checkedVariableFees|default is empty %}
    {% else %}
        <input id="calcul_checkedVariableFees" name="calcul_checkedVariableFees" type="hidden"/>
        <table class="table-fees">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>Unité</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                    {% for child in form.checkedVariableFees.vars.choices %}
                            <tr id="var_{{child.data.getId()}}">
                                <td>{{ child.data.getTitle() }}</td>
                                <td>{{ child.data.getPrice() }}</td>
                                <td>{{ child.data.getUnit() }}</td>
                                <td>{{ child.data.getType() }}</td>
                                <td>
                                    {% if app.request.attributes.get('_route') == "app_calcul_edit" %}
                                        <a title="Supprimer ce frais" onClick="deleteThisLinkVariable({{child.data.getId}})"><i class="fa-regular fa-trash-can trash"></i></a>
                                        <div style="display: none">
                                            {{ form_widget(form.checkedVariableFees[child.data.getId()], {'attr': {'onInput': 'this.className = ""', 'checked':'checked' }})}}
                                        </div>
                                    {% else %}
                                        <label class="switch">
                                            {{ form_widget(form.checkedVariableFees[child.data.getId()], {'attr': {'onInput': 'this.className = ""'}})}}
                                            <span class="slider round"></span>
                                        </label>
                                    {% endif %}
                                </td>
                            </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div class="variable" data-prototype="{{ _self.variable_prototype(form.variableFees.vars.prototype)|e }}"
    data-index="{{ form.variableFees|length > 0 ? form.variableFees|last.vars.name + 1 : 0 }}">
    
    <div class="calcul-new">
        <a class="add_item_variable" data-collection-holder-class="variable" title="Nouveau frais"><i class="fa-solid fa-plus new"></i></a>
    </div>

    {% for variableFee in form.variableFees %}
        {{ _self.variable_prototype(variableFee) }}
    {% endfor %}

    {% macro variable_prototype(variableFee) %}
        <div class="prototype">
            <div>
                {{ form_label(variableFee.title) }}
                <div class="">{{ form_widget(variableFee.title, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not variableFee.title.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(variableFee.title) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(variableFee.price) }}
                <div class="price">{{ form_widget(variableFee.price, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not variableFee.price.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(variableFee.price) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(variableFee.unit) }}
                <div class="unit">{{ form_widget(variableFee.unit, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not variableFee.unit.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(variableFee.unit) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(variableFee.type) }}
                <div class="type">{{ form_widget(variableFee.type, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not variableFee.type.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(variableFee.type) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endmacro %}
</div>
<script>
const deleteThisLinkVariable = (blockId) =>{
    let block = document.querySelector('#var_' + blockId);
    if(confirm("êtes vous sûr de vouloir supprimer cet élement?")){

        block.remove();
    }
}
</script>
