<div class="form-wizard">
    {% if not form.checkedFixedFees.vars.valid %}
        <div class="error-message">
            {{  form_errors(form.checkedFixedFees) }}
        </div>
    {% endif %}
    <input id="calcul_checkedFixedFees" name="calcul_checkedFixedFees" type="hidden"/>

    {% if form.checkedFixedFees|default is empty %}
    {% else %}
        <table class="table-fees">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>Unité</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                {% for child in form.checkedFixedFees.vars.choices %}
                    <tr id="fee_{{child.data.getId()}}">
                        <td>{{ child.data.getTitle() }}</td>
                        <td>{{ child.data.getPrice() }}</td>
                        <td>{{ child.data.getUnit() }}</td>
                        <td>
                        {% if app.request.attributes.get('_route') == "app_calcul_edit" %}
                            <a title="Supprimer ce frais" class="delete-link" onClick="deleteThisLink({{child.data.getId}})"><i class="fa-regular fa-trash-can trash"></i></a>
                            <div style="display: none">
                                {{ form_widget(form.checkedFixedFees[child.data.getId()], {'attr': {'onInput': 'this.className = ""', 'checked':'checked' }})}}
                            </div>
                        {% else %}
                            <label class="switch">
                                {{ form_widget(form.checkedFixedFees[child.data.getId()], {'attr': {'onInput': 'this.className = ""' }})}}
                                <span class="slider round"></span>
                            </label>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    {% endif %}
</div>

<div class="fixed" data-prototype="{{ _self.fixed_prototype(form.fixedFees.vars.prototype)|e }}"
        data-index="{{ form.fixedFees|length > 0 ? form.fixedFees|last.vars.name + 1 : 0 }}">
    <div class="calcul-new">
        <a class="add_item_fixed" data-collection-holder-class="fixed" title="Nouveau frais"><i class="fa-solid fa-plus new"></i></a>
    </div>
    
    {% for fixedFee in form.fixedFees %}
        {{ _self.fixed_prototype(fixedFee) }}
    {% endfor %}

    {% macro fixed_prototype(fixedFee) %}
        <div class="prototype">
            <div>
                {{ form_label(fixedFee.title) }}
                <div class="">{{ form_widget(fixedFee.title, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not fixedFee.title.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(fixedFee.title) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(fixedFee.price) }}
                <div class="price">{{ form_widget(fixedFee.price, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not fixedFee.price.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(fixedFee.price) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(fixedFee.unit) }}
                <div class="unit">{{ form_widget(fixedFee.unit, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not fixedFee.title.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(fixedFee.unit) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endmacro %}
</div>

<script>
const deleteThisLink = (blockId) =>{
    let block = document.querySelector('#fee_' + blockId);
    if(confirm("êtes vous sûr de vouloir supprimer cet élement?")){

        block.remove();
    }
}
</script>