<div>
        {{ form_start(form)}}    
        <div>
            {{ form_label(form.title) }}
            <div class="">{{ form_widget(form.title) }}</div>
            <div class="error-message">
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div>
            {{ form_label(form.devis) }}
            <div class="">{{ form_widget(form.devis) }}</div>
            <div class="error-message">
                {{ form_errors(form.devis) }}
            </div>
        </div>        
        <div>
            {{ form_label(form.durationMonth) }}
            <div class="">{{ form_widget(form.durationMonth) }}</div>
            <div class="error-message">
                {{ form_errors(form.durationMonth) }}
            </div>
        </div>
        
    <h3 class="fixedFees">Frais fixes</h3>
    
    {{ include('calcul/_form_fixed_fees.html.twig') }}

    <h3 class="fixedFees">Frais variables</h3>
        
    {{ include('calcul/_form_variable_fees.html.twig') }}
        
    <h3 class="fixedFees">Salariés</h3>
    
    {{ include('calcul/_form_salaries.html.twig') }}
    <div>
        <button class="btn btn-success">Valider</button>
    </div>    

    {{ form_end(form, {'render_rest': false})}}
</div>
