<div class="form-wizard">
    {% if not form.checkedSalaries.vars.valid %}
        <div class="cout">
            {{  form_errors(form.checkedSalaries) }}
        </div>
    {% endif %}
    <input id="calcul_checkedSalaries" name="calcul_checkedSalaries" type="hidden"/>

    {% if form.checkedSalaries|default is empty %}
    {% else %}
        <div class="search-input">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Rechercher un salarié.."
                       id="search-salary" onkeyup="searchFees('search-salary', 'table-salary')">
            </div>
        </div>
        <div class="table-scroll" id="table-salary">
            <table class="table-fees">
                <thead>
                    <tr>
                        <th>Nom et Prénom</th>
                        <th>Poste</th>
                        <th>Rémunération</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        {% for child in form.checkedSalaries.vars.choices %}
                                <tr id="sal_{{child.data.getId()}}">
                                    <td>{{ child.data.getFullName() }}</td>
                                    <td>{{ child.data.getPost() }}</td>
                                    <td>{{ child.data.getPay() }}</td>
                                    <td>
                                        {% if app.request.attributes.get('_route') == "app_calcul_edit" %}
                                            <a title="Supprimer ce frais" onClick="deleteThisLink('#sal_{{child.data.getId}}')"><i class="fa-regular fa-trash-can trash"></i></a>
                                            <div style="display: none">
                                                {{ form_widget(form.checkedSalaries[child.data.getId()], {'attr': {'onInput': 'this.className = ""', 'checked':'checked' }})}}
                                            </div>
                                        {% else %}
                                        <label class="switch">
                                            {{ form_widget(form.checkedSalaries[child.data.getId()], {'attr': {'onInput': 'this.className = ""'}})}}
                                            <span class="slider round"></span>
                                        </label>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

<div class="salary" data-prototype="{{ _self.salary_prototype(form.salaries.vars.prototype)|e }}"
    data-index="{{ form.salaries|length > 0 ? form.salaries|last.vars.name + 1 : 0 }}">
    
    <div class="calcul-new">
        <a class="add_item_salary" data-collection-holder-class="salary" title="Nouveau salarié"><i class="fa-solid fa-plus new"></i></a>
    </div>

    {% for salary in form.salaries %}
        {{ _self.salary_prototype(salary) }}
    {% endfor %}

    {% macro salary_prototype(salary) %}
        <div class="prototype">
            <div>
                {{ form_label(salary.fullName) }}
                <div class="">{{ form_widget(salary.fullName, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not salary.fullName.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(salary.fullName) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(salary.post) }}
                <div class="poste">{{ form_widget(salary.post, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not salary.post.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(salary.post) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(salary.pay) }}
                <div class="price">{{ form_widget(salary.pay, {'attr': {'onInput': 'this.className = ""'}}) }}</div>
                {% if not salary.pay.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(salary.pay) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endmacro %}
</div>