{% extends 'base-membre.html.twig' %}

{% block title %}Edit Calcul{% endblock %}

{% block body %}
    <div class="breadcrumb-header">
        <ul class="breadcrumb">
            <li><a href="{{ path('app_calcul_index') }}">Calcul de rentabilité</a></li>
            <li><a href="{{ path('app_calcul_index') }}">Vos Devis</a></li>
            <li><a href="{{ path('app_calcul_show', {'id': calcul.id}) }}">{{ calcul.title }}</a></li>
            <li>Editer</li>
        </ul>
        <div class="back">
            <div class="back-to-list">
                <a href="{{ path('app_calcul_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>

    <div class="calcul-data">
    
        {{ form_start(form, {'attr': {'id': 'regForm', 'class': 'regForm edit-form'}})}}
        {{ form_row(form._token) }}
        <div>
            <div>
                {{ form_label(form.title) }}
                <div class="">{{ form_widget(form.title, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>

                {% if not form.title.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(form.title) }}
                    </div>
                {% endif %}

            </div>
            <div>
                {{ form_label(form.devis) }}
                <div class="">{{ form_widget(form.devis, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>
                {% if not form.devis.vars.valid %}
                    <div class="error-message">
                        {{ form_errors(form.devis) }}
                    </div>
                {% endif %}
            </div>
            <div class="dates">
                <div>
                    {{ form_label(form.startDate) }}
                    <div class="">{{ form_widget(form.startDate, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>
                    {% if not form.startDate.vars.valid %}
                        <div class="error-message">
                            {{ form_errors(form.startDate) }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    {{ form_label(form.endDate) }}
                    <div class="">{{ form_widget(form.endDate, {'attr': {'onInput': 'this.className = ""', 'class': 'input'}}) }}</div>
                    {% if not form.endDate.vars.valid %}
                        <div class="error-message">
                            {{ form_errors(form.endDate) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div>
               duration
            </div>
        </div>
        <div class="fees-section">
            <h3 class="fixedFees">Frais fixes</h3>

            {{ include('calcul/_form_fixed_fees.html.twig') }}
        </div>
        <div class="fees-section">
            <h3 class="fixedFees">Frais variables</h3>

        {{ include('calcul/_form_variable_fees.html.twig') }}
        </div>
        <div class="fees-section">
            <h3 class="fixedFees">Salariés</h3>

        {{ include('calcul/_form_salaries.html.twig') }}

        </div>

        <div class="bottom-btn">
            <div>
                <button type="submit" class="btn">{{ button_label|default('Valider') }}</button>
                {{ form_end(form, {'render_rest': false})}}
            </div>
            <div>
                {{ include('calcul/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <script>
        const deleteThisLink = (blockId) =>{
            let block = document.querySelector(blockId);
            if(confirm("êtes vous sûr de vouloir supprimer cet élement?")){
                block.remove();
            }
        }

        const searchFees = (idInput, idTable) =>{
            let input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(idInput);
            filter = input.value.toUpperCase();
            table = document.getElementById(idTable);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
