{% extends 'base-membre.html.twig' %}

{% block title %}Calcul index{% endblock %}

{% block body %}
    <div class="home-calcul">
        <ul class="breadcrumb">
            <li><a href="{{ path('app_calcul_index') }}">Calcul de rentabilité</a></li>
            <li>Vos devis</li>
        </ul> 
        <div class="calcul-new">
            <a href="{{ path('app_calcul_new') }}" title="Nouveau calcul"><i class="fa-solid fa-plus new"></i></a>
        </div>
        <div class="calcul-data">
            {% if userCalculs|default is empty %}
                <p class="no-data">Aucune donnée à afficher.</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date</th>
                            <th>Devis</th>
                            <th>Durée</th>
                            <th>Taux de rentabilité</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for calcul in userCalculs.data %}
                            <tr>
                                <td>{{ calcul.title }}</td>
                                <td>{{ calcul.date ? calcul.date|date('d-m-Y') : '' }}</td>
                                <td>{{ calcul.devis }}</td>
                                <td>durée</td>
                                <td></td>
                                <td>
                                    <a href="{{ path('app_calcul_show', {'id': calcul.id}) }}"><i class="fa-solid fa-eye awsome show"></i></a>
                                    <a href="{{ path('app_calcul_edit', {'id': calcul.id}) }}"><i class="fa-regular fa-pen-to-square awsome show"></i></a>
                                </td>
                            </tr>      
                    {% endfor %}
                    </tbody>
                </table>
                {% set path = 'app_calcul_index' %}
                {% set pages = userCalculs.pages|default(1)  %}
                {% set currentPage = userCalculs.page|default(1)  %}
                {% set page = 1  %}

                {% include "_partials/_pagination.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
