{% extends 'base-membre.html.twig' %}

{% block title %}Calcul index{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
			<div class="alert-success" role="alert">{{ message }}</div>
{% endfor %}
    <h1>Vos devis</h1>

    {% if userCalculs|default is empty %}
        <P>Aucune donnée à afficher<p/>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Devis</th>
                <th>Durée en Mois</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calcul in userCalculs %}
                <tr>
                    <td>{{ calcul.title }}</td>
                    <td>{{ calcul.date ? calcul.date|date('Y-m-d') : '' }}</td>
                    <td>{{ calcul.devis }}</td>
                    <td>{{ calcul.durationMonth }}</td>
                    <td>
                        <a href="{{ path('app_calcul_show', {'id': calcul.id}) }}">Afficher</a>
                        <a href="{{ path('app_calcul_edit', {'id': calcul.id}) }}">Editer</a>
                    </td>
                </tr>      
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a href="{{ path('app_calcul_new') }}">Nouveau calcul</a>
{% endblock %}
