{% extends 'base-membre.html.twig' %}

{% block title %}Salary index{% endblock %}

{% block body %}
    <h1>Liste des salariés</h1>
    
    {% if salaries|default is empty %}
        <P>Aucune donnée à afficher<p/>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom et Prénom</th>
                <th>Poste</th>
                <th>Rémunération</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for salary in salaries %}
            <tr>
                <td>{{ salary.FullName }}</td>
                <td>{{ salary.post }}</td>
                <td>{{ salary.pay }}</td>
                <td>
                    <a href="{{ path('app_salary_show', {'id': salary.id}) }}">Afficher</a>
                    <a href="{{ path('app_salary_edit', {'id': salary.id}) }}">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
