{% extends 'base-membre.html.twig' %}

{% block title %}Salary{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('app_calcul_index') }}">Calcul de rentabilité</a></li>
        <li><a href="{{ path('app_salary_index') }}">Salariés</a></li>
        <li>{{ salary.fullName }}</li>
    </ul>
    <div class="back">
        <div class="back-to-list">
            <a href="{{ path('app_salary_index') }}">Retour à la liste</a>
        </div>
    </div>
    <div class="calcul-data">
        <table class="show-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ salary.id }}</td>
                </tr>
                <tr>
                    <th>Nom et Prénom</th>
                    <td>{{ salary.fullName }}</td>
                </tr>
                <tr>
                    <th>Poste</th>
                    <td>{{ salary.post }}</td>
                </tr>
                <tr>
                    <th>Rémunération</th>
                    <td>{{ salary.pay }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bottom-btn">
        <div>
            <a href="{{ path('app_salary_edit', {'id': salary.id}) }}" class="btn">Editer</a>
        </div>
            {{ include('salary/_delete_form.html.twig') }}
    </div>
    
{% endblock %}