<div class="lateral-menu">
    <div class="logo">
        <div>
            <a href="{{ path('app_dashboard') }}"><img src="/images/logo.png" alt="logo"/></a>
        </div>
        <div class="logo-title">
            <a href="{{ path('app_dashboard') }}"><span class="logo-R">Ren</span>ta<span class="logo-P">Prix</span></a>
        </div>
    </div>
    <div class="menu-links">
        <ul>
            <li class="link-item">
                <a href="{{ path('app_dashboard') }}" />
                    <i class="fa-solid fa-gauge awsome"></i> Dashboard</a>
            </li>
            <li class="link-item">
                <a class="collapsible" onClick="displayMenu()"><i class="fa-solid fa-square-root-variable awsome"></i> Calcul de rentabilité
                        <span class="down"><i class="fa-solid fa-sort-down awsome"></i></span>
                </a>
                <div class="content-collapsible">
                    <ul class="collapse">
                        <li class="collapsible-link-item">
                            <a href="{{ path('app_calcul_new') }}" /><i class="fa-solid fa-caret-right awsome"></i> Nouveau calcul</a>
                        </li>
                        <li class="collapsible-link-item">
                            <a href="{{ path('app_calcul_index') }}" /><i class="fa-solid fa-caret-right awsome"></i> Vos devis</a> 
                        </li>
                        <li class="collapsible-link-item">
                            <a href="{{ path('app_fixed_fee_index') }}" /><i class="fa-solid fa-caret-right awsome"></i> Frais fixe</a> 
                        </li>
                        <li class="collapsible-link-item">
                            <a href="{{ path('app_variable_fee_index') }}" /><i class="fa-solid fa-caret-right awsome"></i> Frais variable</a> 
                        </li>
                        <li class="collapsible-link-item">
                            <a href="{{ path('app_salary_index') }}" /><i class="fa-solid fa-caret-right awsome"></i> Salariés</a> 
                        </li>
                    </ul>
                </div>
            </li>
            <li class="link-item">
                <a href="{{ path('app_dashboard') }}" /><i class="fa-solid fa-calendar-days awsome"></i> Calendrier</a>
            </li>
            <li class="link-item">
                <a href="{{ path('app_dashboard') }}" />
                    <i class="fa-regular fa-circle-question awsome"></i> FAQ</a>
            </li>
        </ul>
    </div>

    <div class="footer-menu">
        <h3 class="footer-title">Some Title</h3>
        <p>Laboris nulla dolor sunt elit ea non sunt irure ipsum proidenlit</p>
        <div class="menu-button">
            <a href="#">Link</a>
        </div>
    </div>
</div>

<script>
    const displayMenu = () => {
        const link = document.querySelector(".collapsible");

        link.classList.toggle("active-link");

        let content = link.nextElementSibling;

        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    }
</script>
