{% extends 'base-membre.html.twig' %}

{% block title %}VariableFee index{% endblock %}

{% block body %}
    <h1>Liste des frais variables</h1>
    
    {% if variableFees|default is empty %}
        <P>Aucune donnée à afficher<p/>
    {% else %}

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Prix</th>
                <th>Unité</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for variableFee in variableFees %}
                <tr>
                    <td>{{ variableFee.title }}</td>
                    <td>{{ variableFee.price }}</td>
                    <td>{{ variableFee.unit }}</td>
                    <td>{{ variableFee.type }}</td>
                    <td>
                        <a href="{{ path('app_variable_fee_show', {'id': variableFee.id}) }}">Afficher</a>
                        <a href="{{ path('app_variable_fee_edit', {'id': variableFee.id}) }}">Editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
